*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    display: grid;
    place-items: center;
    height: 100vh;
}
.productContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.cartContainer{
    margin-top: 10rem;
    background: red;
}